player-connection-mode=Listen
player-connection-guid=974482618
player-connection-debug=0
player-connection-project-name=Sistema menu
player-connection-ip=192.168.0.9
player-connection-ip=192.168.93.1
player-connection-ip=192.168.244.1
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
profiler-enable-deep-profiling-support=1
